/* Yongfook.com CSS - 01/07/2007 

	Table of Contents:
	Reset
	Typography
	Positioning
	IE Fixes
	3rd Party
			
*/

/* Reset
---------------------------------------------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
}

/* now I'm working with a clean slate! */


/* Typography
---------------------------------------------------------------------------------------- */

body {
	font-family: "Lucida Grande", Arial, Helvetica, sans serif;
	font-size: 12px;
	color: #333;
	line-height: 1.7em;
}	

blockquote.quote, div.page_subsection blockquote {
    font-family: Georgia, "Times New Roman", Times, serif;
}

h1#tagline {
	font-size: 25px;
}

ul#navigation, div#latest_blog h2, div#single_container.page h4, div#single_container.blog h4, div#single_container.blog h3 {
	font-size: 16px;
}

div#single_container.about, input.text_input {
    font-size: 14px;   
}

div.regular_container.blog h2, div#explanation, p#pagination, blockquote.quote {
	font-size: 15px;
}

ul#navigation li#rsslink a#rsslink_secondary, p#blog_date, cite.quote_author, input#mailing_list_input {
    font-size: 12px;
}

p.date, div#footer, div.link_container cite, div#aboutme, div#blog_posts_container, p#breadcrumb {
    font-size: 10px;
}

a {
	color: #689cd0;
}

a:hover {
	color: #003399;
}

h1#tagline, ul#navigation li#rsslink a, cite.quote_author, div.link_container a, p#breadcrumb, p#breadcrumb a {
	color: white;
}

p.date, a.blog_link_comments {
    color: #CCC;
}

ul#navigation li a, div#aboutme, ul#activity_list li.activity_item.video, p#blog_date {
	color: #999;
}

div.regular_container.blog h2 a, ul#navigation li#rsslink a#rsslink_secondary:hover, div#aboutme h3, div#aboutme em, ul#navigation li.current a, ul#navigation li a:hover, ul#navigation li#rsslink a:hover {
	color: #333;
}

h1#tagline a strong, p#breadcrumb a:hover {
	color: black;	
}

div.link_container {
    color: #759fc6;
}

ul#activity_list li.activity_item.photo div.activity_list_inner, div#single_container.photo div.activity_list_inner div {
    color: #e3f7e3;
}

div#explanation {
    color: #999933;
}

div#explanation strong {
    color: #666633;
}

ul#navigation li#rsslink a#rsslink_secondary {
    color: #d1e8ff;
}

div#blog_posts_container a.view_all_link, ul#navigation li#rsslink a, div#blog_posts_container a.blog_link_comments {
	font-weight: normal;
}

div#blog_posts_container a, div#single_container.blog strong, div#single_container.page strong, p#pagination, h1#tagline strong, ul#navigation a, div.speech_bubble cite, div.link_container a, div#explanation strong, li.activity_item strong {
	font-weight: bold;
}

cite.quote_author, div#single_container.blog em {
    font-style: oblique;
}

ul#navigation a, h1#tagline a:hover, a, a:hover.blog_link_comments {
	text-decoration: none;
}

a:hover, p#breadcrumb a {
	text-decoration: underline;
}

a.activity_photo_container {
    text-align: center;
}

p#pagination {
    text-align: right;
}

div#blog_posts_container ul li, cite.quote_author {
    line-height: 1.4em;
}

h1#tagline, div#single_container, ul#activity_list li.activity_item.photo div.activity_list_inner div {
    line-height: 1.5em;
}

div#aboutme, div#single_container.blog p, div#aboutme, div#single_container.blog ul, div#aboutme, div#single_container.blog ol {
    line-height: 1.6em;
}


/* Positioning
---------------------------------------------------------------------------------------- */

body {
    background: white;   
}

div#header {
	background: #99ccff;
}

div.centerbox {
	width: 988px;
	margin: 0 auto;
	position: relative;
}

div.centerbox.header {
	height: 150px;
}

p#breadcrumb {
	position: absolute;
	top: 2px;	
}

h1#tagline {
	position: absolute;
	z-index: 1000;
	top: 43px;
	left: 0;
}

h1#tagline a span {
	display: none;
}

img#itsame {
	width: 398px;
    height: 280px;
	display: block;
	position: absolute;
	right: 55px;
	bottom: 0;
	z-index: 888;
}

ul#navigation {
	position: absolute;
	bottom: 0;
	left: 0;
}

ul#navigation li {
	float: left;
	margin-right: 2px;
	display: inline;
}

ul#navigation li a {
	background: #DDD;
	display: block;
	float: left;
	padding: 8px 12px;
}

ul#navigation li.current a {
	background: white;
}

ul#navigation li#searchform {
	background: transparent;
	padding: 5px 0 0 10px;
}

ul#navigation li#rsslink a {
	background: transparent;
	padding: 8px 0 0 10px;
}

ul#navigation li#rsslink a#rsslink_secondary {
    padding: 10px 0 0 8px;
    margin: 0;
}

div#main_container {
	width: 673px;
	float: left;
	margin-right: 15px;
	padding-top: 15px;
	display: inline;
	position: relative;
}

div#sidebar_container {
	padding: 15px 0;
	width: 300px;
	float: left;
}

div#footer {
    clear: both;
}

ul#activity_list li.activity_item {
    float: left;
    width: 214px;
    margin: 0 15px 15px 0;
    background: #F8F8F8;
    display: inline;
}

div.activity_list_inner, div#blog_posts_container {
    border: 1px solid #EEE;
    position: relative;
}

ul#activity_list li.activity_item.blog div.activity_list_inner, div#blog_posts_container {
    border: 1px solid #CCC;
}

div.regular_container, div.activity_list_inner {
    min-height: 248px;
	height: auto !important;
	height: 248px;
}

div#single_container {
    position: relative;
}

div#single_container div.regular_container, div#single_container div.activity_list_inner {
    height: auto !important;
    min-height: 0 !important;
}

div#single_container div.regular_container, div#single_container.quote div.activity_list_inner {
    padding-bottom: 10px;
}

div#single_container.blog div.regular_container, div#single_container.blog div.regular_container div {
    padding-bottom: 0;
}

div#single_container.blog div.regular_container ul, div#single_container.blog div.regular_container ol {
    list-style-type: disc;
    margin-left: 30px;
}

div#single_container.blog div.regular_container ol {
    list-style-type: decimal;
}

div#single_container.blog div.regular_container div {
    padding: 10px 10px 0 10px;
}

div#single_container.blog div.regular_container p {
    padding: 0 0 10px 0;
}

div#single_container.blog div.regular_container h3, div#single_container.blog div.regular_container h4 {
	margin: 10px 0;	
	background: #F8F8F8;
	padding: 3px;
}

div#single_container.blog div.regular_container ol, div#single_container.blog div.regular_container ul, div#single_container.blog div.regular_container ol li, div#single_container.blog div.regular_container ul li {
	padding-bottom: 5px;	
}

ul#activity_list li.activity_item.video div.activity_list_inner, div#single_container.video div.activity_list_inner {
    background: #EEE;
}

ul#activity_list li.activity_item.quote div.activity_list_inner, div#single_container.quote div.activity_list_inner {
    background: #99ccff;
}

ul#activity_list li.activity_item.link div.activity_list_inner, div#single_container.link div.activity_list_inner {
    background: #22619d;
}

ul#activity_list li.activity_item.photo div.activity_list_inner, div#single_container.photo div.activity_list_inner {
    background: #86ca86;
}

ul#activity_list li.activity_item.photo div.activity_list_inner div, ul#activity_list li.activity_item.video div.activity_list_inner div {
    padding: 10px;
    overflow: hidden;
}

ul#activity_list li.activity_item.video object {
    margin-bottom: -8px;
}

div#single_container.photo div.activity_list_inner img, div#single_container.video div.activity_list_inner object {
    border: 8px solid white;
    margin: 20px 20px 0 20px;
}

div#single_container.photo div.activity_list_inner div, div#single_container.video div.activity_list_inner div {
    padding: 10px;
}

blockquote.quote {
    padding: 15px 15px 5px 15px;
}

cite.quote_author {
    display: block;
    padding: 0 15px 10px 15px;
}

div.regular_container {
    background: transparent url(images/twitterback.jpg);
}

div.regular_container.blog, div#blog_posts_container {
    background: white url(images/blogback.jpg) bottom left no-repeat;
}

ul#activity_list li.rowclear {
    height: 1px;
    width: 100%;
    clear: left;
    padding: 0;
    margin: 0;
}

ul#activity_list li.last {
    margin-right: 0;
}

p.date {
    background: white;
}

p.date.single {
    margin: 3px 0 15px 0;    
}

div.speech_tail {
    height: 10px;
    background: transparent url(images/speech_tail.gif) 13px 0 no-repeat;
}

div.speech_bubble {
    margin: 0 10px;
    padding: 10px;
    background: white;
    overflow: hidden;
}    

cite.avatar {
    display: block;
    padding: 10px 0 5px 10px;
}

cite.avatar img {
    display: block;
}

span.type_label {
    display: block;
    height: 48px;
    width: 48px;
    position: absolute;
    right: 0;
    bottom: 0;
}

span.type_label.blog {
    background: transparent url(images/blog_label.gif) 0 0;
}

span.type_label.photo {
    background: transparent url(images/photo_label.gif) 0 0;
}

span.type_label.video {
    background: transparent url(images/video_label.gif) 0 0;
}

span.type_label.regular {
    background: transparent url(images/regular_label.gif) 0 0;
}

span.type_label.quote {
    background: transparent url(images/quote_label.gif) 0 0;
}

span.type_label.link {
    background: transparent url(images/link_label.gif) 0 0;
}

div.regular_container.blog h2, div.regular_container.blog div {
    padding: 10px;
}

div.regular_container.blog h2 {
    border: 1px solid #EEE;
    border-style: none none solid none;
    background: #F8F8F8;
}

div#latest_blog {
    background: #F8F8F8;
    padding: 15px;
    border: 1px solid #EEE;
    border-style: none none solid none;
    margin-bottom: 15px;
}

a.activity_photo_container {
    display: block;
    max-height: 158px;
    overflow: hidden;
}

a.activity_photo_container img {
    display: block;
    margin: 0 auto;
    width: 212px;
}

div.link_container {
    margin: 10px 15px;
}

div.ad_container img {
    display: block;
}

div#explanation {
    background: #FFFFCC;
    padding: 10px;
    margin: 15px 0;
}

div#footer {
    background: #EEE;
    padding: 8px;
    position: relative;
}

p#pagination {
    margin-bottom: 15px;
    clear: both;
}

p#pagination a {
    padding: 1px 5px;
    background: #F8F8F8;
}

div#disqus_thread {
    margin-bottom: 15px !important;
}

a#credits {
    position: absolute;
    right: 10px;
    top: 6px;
}

div#aboutme {
	padding-top: 15px;
    overflow: hidden;
}

div#aboutme_blurb {
    width: 180px;
    border: 1px solid #EEE;
    border-style: none solid none none;
    padding: 0 15px 0 0;
    float: left;
    margin-right: 15px;
}

div#aboutme ul {
    list-style-type: disc;
}

div#aboutme ul li {
    padding-bottom: 5px;
}

div#aboutme h3, div#aboutme ul, div#aboutme p {
    margin-left: 20px;
}

div#aboutme h3 {
    margin-bottom: 5px;
}

div#single_container.page p {
    margin-bottom: 20px;
}

div#single_container.page h4 {
    padding: 0 0 5px 0;
}

div.page_subsection {
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
    background: #F8F8F8;
    border: 1px solid #EEE;
}

div.page_subsection blockquote {
    border: 5px solid #CCC;
    border-style: none none none solid;
    display: block;
    padding: 0 0 0 5px;
    margin: 0 0 20px 20px;
}

div.page_subsection img {
    display: block;
    margin: 0 auto;
}

p#newflag {
    height: 122px;
    width: 122px;
    display: block;
    background: transparent url(images/newflag.gif);
    position: absolute;
    top: 0;
    left: 0;
}

p.sidebar_small_banner img {
    display: block;
    margin-bottom: 10px;
}

div#blog_posts_container {
    margin-bottom: 15px;
}

div#blog_posts_container ul li {
    padding: 6px 30px 6px 10px;
    border: 1px solid #EEE;
    border-style: none none solid none;
}

div#blog_posts_container ul li.last {
    border: none;
}

div#blog_posts_container p.date {
    background: transparent;
}

div#digg_container {
	position: absolute;
	right: 0;
	margin-top: 5px;	
}

form#mailing_list {
    margin-top: 15px;
    background: white url(images/mailinglist.gif) 0 0 no-repeat;
    border: 1px solid #CCC;
}

form#mailing_list p {
    padding: 70px 10px 10px 10px;   
}

input#mailing_list_input {
    background: #FFFFCC;
    width: 150px;   
}

img.about_image {
    display: block;   
}

div.about_projects {
    padding: 10px;   
}

div#single_container.about {
    padding-top: 8px;   
}

a.activity_photo_container {
	display: block;
	height: 190px;	
}

ul.tag_list {
	margin-bottom: 10px;	
}

ul.tag_list li {
	display: inline;
	margin-right: 5px;	
}

form#search_form input.text_input {
	margin: 3px 0 5px 0;
	background: #FFFFCC;
	width: 200px;	
}

/* IE Fixes (lulz)
---------------------------------------------------------------------------------------- */

a.activity_photo_container {
    height: expression(this.scrollHeight > 158 ? "158px" : "auto"); /* IE */
}

/* 3rd Party
---------------------------------------------------------------------------------------- */

.dsq-comment-header {
    background: #F8F8F8 !important;
    padding-top: 2px !important;
    border: 1px solid #EEE !important;
    border-style: solid none none none !important;
}